// main: ../style.less

.sportsmens {
    width: 100%;
    margin: 4rem 0;
}

.sportsmens__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sprtsmns-btns {
    
}

.sportsmens-slider {
    display: flex;
    justify-content: space-between;
}

.sportsmens-slider-item {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    padding: 0 1.8rem;
}

.sportsmens-slider-item img {
    widows: 81%;
    height: auto;
    margin-bottom: 8px;
}

.discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}